.movies {
  padding: 0 5.5%;
}

@media (max-width: 845px) {
  .movies {
    padding: 0 4%;
  }
}

.movies__caption {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  margin: 10px 0;
  padding: 0;
}